/* src/Login.css */
.login-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(249, 249, 249, 0.5)
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-error {
    color: red;
  }
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: rgba(249, 249, 249, 0.1)
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .logged-in-message {
    margin-top: 20px;
    padding: 15px;
    
    border: 1px solid #c3e6cb;
    border-radius: 6px;
  }
  
  .switch-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
  }
  
  .switch-link:hover {
    color: #0056b3;
  }
  
  p {
    font-size: 14px;
    margin-top: 10px;
  }
  /* Login.css */


  
 
  
  